* {
    box-sizing: border-box;
}
html {
    background-color: black;
}

body {

}

.outer {
    border: 2px solid green;
    width: 1004px;
    height:700px;
    margin:auto;
    position:relative;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > div {
    width: 200px;
    margin-right: auto;
    text-align: left;
    font-size: 20px;
    color: white; 
    border: 2px solid blue;
}
.header-row {
    padding: 20px;
    border-bottom:2px solid white;
}
#score {
    color: white;
}

#speed {
    color: red;
}

#sound {
    color: red;
}

.grid {
    position: relative;
    height: 615px;
    width: 1000px;
}

.box-item {
    height: 40px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
}

.col1 {
    left: 0px;
}

.col2 {
    left: 100px;
}

.col3 {
    left: 200px;
}
.col4 {
    left: 300px;
}
.col5 {
    left: 400px;
}
.col6 {
    left: 500px;
}
.col7 {
    left: 600px;
}
.col8 {
    left: 700px;
}
.col9 {
    left: 800px;
}
.col10 {
    left: 900px;
}


.row1 {
    position: absolute;
    top: 80px;
    background-color: red;
}

.row2 {
    position: absolute;
    top: 120px;
    background-color: yellow;
}

.row3 {
    position: absolute;
    top: 160px;
    background-color: #00ff00;
}

.row4 {
    position: absolute;
    top: 200px;
    background-color: #00ccff;
}

.row5 {
    position: absolute;
    top: 240px;
    background-color: #004de6;
}


.ball {
    background-color: white;
    width: 15px;
    height: 15px;
    border: 0.5px solid yellow;
    border-radius: 50%;
    position: absolute;
}
.paddle {
    height: 20px;
    width: 120px;
    background-color: purple;
    position: absolute;
    bottom: 0px;
}
.welcome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    
    top: 300px;
    left: 400px;
}

.startButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: purple;
    border-radius: 25%;
    position: absolute;
    top: 350px;
    left: 500px;
}

.gameover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 300px;
    left: 400px;
}

.playAgainButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: purple;
    border-radius: 25%;
    position: absolute;
    top: 350px;
    left: 500px;
}